.projects__container {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #010606;
}

@media screen and (max-width: 768px) {
  .projects__container {
    height: 1100px;
  }
}

@media screen and (max-width: 468px) {
  .projects__container {
    height: 1300px;
  }
}

.projects__wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  grid-gap: 16px;
  padding: 0 50px;
}

@media screen and (max-width: 1000px) {
  .projects__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .projects__wrapper {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }
}

.projects__card {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  max-height: 340px;
  padding: 30px;
  transition: all 0.2s ease-in-out;
  position: relative;
  z-index: 1;
  border-radius: 10px;
}
.projects__card:hover {
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.projects__card:before {
  content: '';
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.projects__card:active {
  color: #111;
}

.projects__card:active:after {
  background: transparent;
}

.projects__card:hover:before {
  opacity: 1;
}

.projects__card:after {
  z-index: -1;
  content: '';
  position: absolute;
  background: #fff;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.projects__icon {
  height: 160px;
  width: 160px;
  margin-bottom: 10px;
}

.projects__h1 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 64px;
}

.projects__h2 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.projects__p {
  font-size: 1rem;
  text-align: center;
}

.projects__a {
  text-decoration: none;
  color: inherit;
}
